<!DOCTYPE html>
<html lang="en">
<head>
    <link>
    <meta charset="UTF-8">
    <title>Login System</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>

<body>

        <header class="header_class">
            <h1>Welcome to my website</h1>
        </header>
            <br>

        <a href="show-login-page"> LogIn </a>
        <br>
        <a href="registration"> Registration </a>

</body>
</html>

<!--https://tiimg.tistatic.com/fp/1/004/813/natural-holi-color-powder-968.jpg
https://img.pngio.com/holi-color-free-png-image-holi-color-png-1024_463.png-->